
<%- include('../layouts/header.ejs') %>

    <section class="bg-body-secondary py-5">
        <div class="container col-xl-10 col-xxl-8 px-4 py-5">
            <div class="row align-items-center my-5">
                <div class="px-4 text-center">
                    <h1 class="display-5 fw-bold text-body-emphasis mb-4">Role-Based Access Control (RBAC)</h1>
                    <div class="col-lg-9 mx-auto">
                        <p class="lead fw-semibold mb-4">Role-Based Access Control (RBAC) stands as a pivotal pillar in
                            ensuring robust application security. Offering a
                            systematic framework, RBAC empowers organisations and applications to meticulously govern and
                            limit resource access in
                            accordance with users’ designated roles</p>
                    </div>
                </div>
                <div class="col-md-10 mx-auto col-lg-6 pt-5">
                    <form action="/manager/login/create" class="p-4 border-0 rounded-4 bg-light-blue shadow-lg" method="post">
                        <h3 class="text-center fs-2 mb-4 fw-semibold">Manager Login</h3>
                        <hr class="mt-3">
                        <div class="mb-4">
                            <input type="email" class="form-control form-control-lg" name="email"
                                placeholder="name@example.com" required>
                        </div>
                        <div class="mb-4">
                            <input type="password" class="form-control form-control-lg" name="password"
                                placeholder="Your Password" required>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-xl-12 col-md-12 col-12 mb-3">
                                <button class="w-100 btn btn-lg btn-primary" type="submit">Login As Manager</button>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-12 col-12">
                                <a href="/login/view" class="w-100 btn btn-lg btn-secondary">Employee Profile Login</a>
                            </div>
                            <div class="col-lg-6 col-xl-6 col-md-12 col-12">
                                <a href="/admin/login" class="w-100 btn btn-lg btn-secondary">Admin Profile Login</a>
                            </div>
                        </div>

                        <hr class="mt-3">
                        <h5 class="text-black text-center fw-normal fs-4">Don't have an account? Please <a
                                class="text-primary text-decoration-none" href="/register/view">Signup</a></h5>
                    </form>
                </div>
            </div>
        </div>
    </section>